{{page-title "EditRecipe"}}
<div class='editRecipeSection'>
  <div class='geteditRecipeDetSec'>
    <h1>Edit Recipe</h1>
    <div class='getRecipeDetails'>
      <div class='inputDetails'>
        <section>
          <label for ="recipe-name">Recipe Name : </label>
            <Input
              @id="recipe-name"
              @type='text'
              autocomplete='off'
              @value ={{this.model.name}}
              placeholder="Enter recipe name"
            />
        </section>
        <section>
          <label for="recipeCate">Category :</label>
          <SelectCategory @value={{this.value}}/>
        </section>
        <section>
          <label for ='recipeDur'>Recipe Duration : </label>
          <Input
            @type='text'
            @id='recipeDur'
            autocomplete='off'
            @value={{this.model.duration}}
            placeholder ='Enter recipe duration'
          />
        </section>
        <section>
          <label for="ingredient">Ingredient :</label>
          <Textarea
            @id="recipeIng"
            autocomplete='off'
            @value = {{this.model.ingredients}}
            rows="6"
            cols="44"
            placeholder = 'Enter the ingredients'
          />
        </section>
        <section>
          <label for ='recipeImg'>Image Url : </label>
          <Input
            @type='text'
            @id='recipeImg'
            autocomplete='off'
            @value = {{this.model.imageUrl}}
            placeholder="Enter the Image Url"
          />
        </section>
      </div>
      <div class='btnSection'>
          <LinkTo @route="show-recipe" @model={{this.model.id}} class='editSection'>
            <button type='button' class='editRecipe' {{on 'click' this.editRecipe}}>Edit</button>
          </LinkTo>
          <LinkTo @route="show-recipe" @model={{this.model.id}} class='cancelSection'>
            <button type='button' class='cancelRecipe'>Cancel</button>
          </LinkTo>
        </div>
      </div>
  </div>
</div>
{{outlet}}