{{page-title "ShowRecipe"}}
<div class='showRecipeSection'>
  <div class='showRecipe'>
    <LinkTo @route="index" class='showRecSection'>
      <i class="fa fa-times closeBtn" aria-hidden="true"></i>
    </LinkTo>
    <div class='recipeContentSection'>
      <div class='recipeImg'>
        <img src='{{this.model.imageUrl}}'/>
      </div>
      <div class='recipeContent'>
        <h1>{{this.model.name}}</h1>
        <h3>Recipe Duration : {{this.model.duration}}</h3>
        <h4>{{this.model.category}}</h4>
        <h2>Ingredients :</h2>
        <RecipeIngredient @ingredient={{this.ingredientValues}}/>
      </div>
    </div>
    <div class='buttonSec'>
      <LinkTo @route="edit-recipe" class='editSection' @model={{this.model.id}}>
        <button type='button' class='editBtn'>Edit</button>
      </LinkTo>
      <button type='button' class='deleteBtn' {{on 'click' this.deleteRecipe}} >Delete</button>
    </div>
    {{!-- {{this.isdeleted}}
    {{#if this.isdeleted}}
      <ShowMessage @data = {{this.model}} @checkdeleted={{this.isdeleted}}/>
    {{/if}} --}}
  </div>
</div>
{{outlet}}